# Section A


# Q1. Create a 7x7 array with random values using numpy.

In [24]:
import pandas as pd
import numpy as np
x=np.random.randint(20,size=49)
y=x.reshape(7,7)

In [13]:
y

array([[18, 18,  8, 19, 19,  3, 14],
       [15,  7,  2,  3,  6,  3,  0],
       [ 4,  3,  8,  6,  7,  5,  2],
       [15, 18, 13, 17, 15,  7, 17],
       [ 3,  3,  8,  3, 12,  0,  2],
       [13,  1, 13,  4, 18,  7, 19],
       [16,  6, 13,  2, 10, 16,  6]])

# Q2. Given an array with strings - 
# str_arr = np.array(['Python', 'Machine learning', 'Sql', 'Excel']).
# Use inbuilt numpy functions to print the array in upper and lower case.

In [75]:
str_arr = np.array(['Python', 'Machine learning', 'Sql', 'Excel'])
print("in upper : ",np.char.upper(str_arr))
print()
print("in lower : ",np.char.lower(str_arr))

in upper :  ['PYTHON' 'MACHINE LEARNING' 'SQL' 'EXCEL']

in lower :  ['python' 'machine learning' 'sql' 'excel']

# Q3. Create a Dataframe using the following dictionary:
# dicts = ({"Subject":["Machine Learning","Python"],
#     	"Mid Exam":[150,80],
# "End Exam":[200,70]})

In [20]:
dicts = ({"Subject":["Machine Learning","Python"],
       "Mid Exam":[150,80],
       "End Exam":[200,70]})

In [22]:
print(dicts)

{'Subject': ['Machine Learning', 'Python'], 'Mid Exam': [150, 80], 'End Exam': [200, 70]}

In [25]:
pd.DataFrame(dicts)

            Subject  Mid Exam  End Exam
0  Machine Learning       150       200
1            Python        80        70

# Q4. Write code to reshape the array: np.array([2,3,6,3.4,6,3])
# into a 2X3 array. After reshaping please get the square of all the elements.

In [27]:
x=np.array([2,3,6,3.4,6,3])
x.reshape(2,3)

array([[2. , 3. , 6. ],
       [3.4, 6. , 3. ]])

# SECTION B

# Q1. Read the books.csv and ratings.csv dataset. Merge both the datsets using pandas on the BookId column.

In [29]:
books=pd.read_csv("C:\\Users\\Asus\\Downloads\\book.csv")

In [30]:
books.head()

,bookID,title,authors,language_code
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling-Mary GrandPré,eng
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling-Mary GrandPré,eng
2,3,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling-Mary GrandPré,eng
3,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,eng
4,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling-Mary GrandPré,eng

In [37]:
ratings=pd.read_csv("C:\\Users\\Asus\\Downloads\\Rating.csv")
ratings.head()

   bookID  average_rating  ratings_count
0       1            4.56        1944099
1       2            4.49        1996446
2       3            4.47        5629932
3       4            4.41           6267
4       5            4.55        2149872

In [39]:
newdata=pd.merge(books,ratings)

In [77]:
newdata.head()

,bookID,title,authors,language_code,average_rating,ratings_count
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling-Mary GrandPré,eng,4.56,1944099
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling-Mary GrandPré,eng,4.49,1996446
2,3,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling-Mary GrandPré,eng,4.47,5629932
3,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,eng,4.41,6267
4,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling-Mary GrandPré,eng,4.55,2149872

# Q6. Find out the number of authors in the dataset.

In [96]:
newdata["authors"].drop_duplicates().value_counts().count()

7605

# Q7. Find the number of books written by each author.

In [82]:
newdata1=newdata.groupby("authors")

In [83]:
newdata1.first()

,bookID,title,language_code,average_rating,ratings_count
authors,,,,,
A.B. Yehoshua-Hillel Halkin,27503,The Liberated Bride,en-US,3.76,449
A.D.P. Briggs-Leo Tolstoy-Fyodor Dostoyevsky,17883,Notes from Underground & A Confession (Everyma...,eng,3.76,17
A.E. Cunningham-Harlan Ellison-Charles F. Miller-Terry Dowling-Paul Rhoads-Jack Vance-Tom Shippey-Gene Wolfe-David Langford-Dan Simmons-David Mathew,40880,Jack Vance: Critical Appreciations and a Bibli...,eng,4.15,13
A.J. Jacobs,28116,The Know-It-All: One Man's Humble Quest to Bec...,eng,3.77,23343
A.M. Homes,29412,The Mistress's Daughter,en-US,3.28,3218
A.N. Roquelaure-Anne Rice,3683,The Claiming of Sleeping Beauty (Sleeping Beau...,eng,3.28,556
A.S. Byatt,11723,Angels & Insects,eng,3.65,7
A.S. Byatt-Jean-Louis Chevalier,11718,Possession,fre,3.89,369
Aaron Allston,5405,Rebel Stand (Enemy Lines #2) (Star Wars: The ...,eng,3.84,5825
Aaron Rosenberg-Christopher Cook,36781,Bubbles in the Middle (The Powerpuff Girls Plu...,eng,5.00,5
Abbie Hoffman-Anita Hoffman,30743,To America with Love: Letters from the Undergr...,eng,3.93,65
Abdul Rahman Munif-Peter Theroux-Abdelrahman Munif,2722,Cities of Salt,eng,4.10,813
Abigail Adams-Frank Shuffelton,2205,The Letters of John and Abigail Adams,eng,4.17,267
Abigail Beckel-Kathleen Rooney-Chip Cheek-Amy L. Clark-Kirsten Culbertson-Mark Decarteret-Erin Dionne-Denise Duhamel-Elizabeth Kemper French-Lee Harrington-Jen Heller-Chris Helmuth-Derrick Ableman-Steve Himmer-Brian Hinshaw-Jacqueline Holland-Amanda Holzer-Shannon Huffman-John F. Kersey-Laurel Dile King-Mariette Landry-Molly Lanzarotta-Joann Avallon-Matt Marinovich-Melissa McCracken-Sheehan McGuirk-LaTanya McQueen-Maryanne O Hara-Janice O Leary-Josh Pahigian-Jennifer Pieroni-Robert Repino-Rusty Barnes-Ashley Rice-Matt Rittenhouse-Joe Robb-Beth Anne Royer-Brian Ruuska-Mary Saliba-Nina R. Scheider-Kimberly Ann Southwick-R.S. Steinberg-Cam Terwilliger-Jane Berentson-Laura van den Berg-Stace Budzko-Leslie Busler-Jennifer Carr-Keith Carter-Don Lee-Tara Lynn Masih,46610,Brevity and Echo: An Anthology of Short Short ...,eng,4.38,45
Abigail Thomas,31050,A Three Dog Life,en-US,3.73,179
Abolqasem Ferdowsi-Dick Davis-Azar Nafisi,25869,Shahnameh: The Persian Book of Kings,eng,4.52,242
Abraham Lincoln-Bob Blaisdell,20547,The Wit and Wisdom of Abraham Lincoln: A Book ...,eng,4.14,449
Abraham Lincoln-Don E. Fehrenbacher,20549,Speeches and Writings 1832–1858,eng,4.37,1124
Abraham Lincoln-Gore Vidal,20552,Selected Speeches and Writings,eng,4.23,169
Abraham Lincoln-Michael McCurdy,397,The Gettysburg Address,eng,4.53,4967
Adam Sexton-G. Tubach,23297,CliffsNotes on Joyce's Dubliners (Cliffs Notes),eng,3.50,4
Adam Drozdek,27844,Data Structures and Algorithms in C++,en-US,3.71,18
Adam Ginsberg,132,How to Buy Sell & Profit on eBay: Kick-Start ...,eng,3.49,73
Adam Gopnik,7062,Paris to the Moon,eng,3.76,12094
Adam Gopnik-Omar Rayyan,7113,The King in the Window,en-US,3.62,782
Adam Hochschild,27457,King Leopold's Ghost,eng,4.16,95
Adam Mansbach,31441,Angry Black White Boy,eng,3.55,607
Adam Rex,18486,Frankenstein Makes a Sandwich,eng,4.21,1860
Adam Smith,25698,The Wealth of Nations,eng,3.89,20012
Adam Smith-Robert B. Reich,25701,The Wealth of Nations,eng,3.89,1143
...,...,...,...,...,...
Zadie Smith-Ana María de la Fuente,3713,Dientes blancos,spa,3.76,164
Zadie Smith-David Mitchell-George Saunders-Colm Tóibín-Aleksandar Hemon-Nick Hornby-Hari Kunzru-Toby Litt-Chris Ware,29705,The Book of Other People,en-US,3.39,2499
Zadie Smith-Ulrike Wasel-Klaus Timmermann,3714,Zähne zeigen,ger,3.76,33
Zak Smith-Steve Erickson,27194,Pictures Showing What Happens on Each Page of ...,en-GB,4.10,484
Zecharia Sitchin,27473,The End of Days (The Earth Chronicles #7),eng,4.06,470
Zilpha Keatley Snyder,61,The Changeling,eng,4.17,1155
Zilpha Keatley Snyder-Alton Raible,2315,Below the Root (Green Sky #1),eng,4.09,40
Zlata Filipović-Janine Di Giovanni-Christina Pribićević-Zorić,47301,Zlata's Diary: A Child's Life in Wartime Sarajevo,eng,3.74,7133
Zolar,7315,Zolar's Encyclopedia and Dictionary of Dreams:...,en-US,3.67,71
Zora Neale Hurston,37415,Their Eyes Were Watching God,eng,3.90,209110
Zora Neale Hurston-Carla Kaplan-John Edgar Wideman,38476,Every Tongue Got to Confess: Negro Folk-tales ...,eng,3.98,312
Zora Neale Hurston-Cheryl A. Wall,26979,Novels and Stories,eng,4.37,561
Zora Neale Hurston-Henry Louis Gates Jr.-Sieglinde Lemke,38068,The Complete Stories,eng,4.25,735
Zora Neale Hurston-Michele-Denise Woods,26992,Their Eyes were Watching God,eng,3.90,19
Zora Neale Hurston-Ruby Dee,26973,Their Eyes Were Watching God,en-US,3.90,375
Zoë Heller,13258,What Was She Thinking? [Notes on a Scandal],eng,3.71,13150
bell hooks,17601,The Will to Change: Men Masculinity and Love,eng,4.35,2155
bell hooks-Shane W. Evans,17600,Homemade Love,eng,4.19,198
Åsne Seierstad,33699,El librero de Kabul,spa,3.77,98
Åsne Seierstad-Grete Skevik,33702,O livreiro de Cabul,por,3.77,296
Åsne Seierstad-Ingrid Christopherson,9838,The Bookseller of Kabul,en-US,3.77,33499
Émile Zola-Andrew Moore-Ernest Alfred Vizetelly,28411,His Excellency (Les Rougon-Macquart #6),eng,3.69,44
Émile Zola-Douglas Parmée,28420,The Earth,eng,4.08,1053
Émile Zola-Ernest Alfred Vizetelly,28416,The Conquest of Plassans (Les Rougon-Macquart ...,fre,3.88,49
Émile Zola-Ernest Alfred Vizetelly-Henry Vizetelly,7064,The Belly of Paris (Les Rougon-Macquart #3),eng,3.90,8
Émile Zola-Henri Mitterand,28417,La Bête humaine,fre,4.05,6037
Émile Zola-Robert Lethbridge-Elinor Dorday,28419,La Débâcle,eng,3.99,763
Émile Zola-Robin Buss-Brian Nelson,28413,The Ladies' Paradise,eng,3.99,5279
Émile Zola-Roger Pearson,28407,Germinal,eng,4.12,22062
Éric-Emmanuel Schmitt,4314,Monsieur Ibrahim et les fleurs du Coran,fre,3.81,876

In [84]:
t=newdata["authors"].value_counts()
print(t)

Agatha Christie                                                                                         69
Stephen King                                                                                            66
Orson Scott Card                                                                                        48
Rumiko Takahashi                                                                                        46
P.G. Wodehouse                                                                                          42
Terry Brooks                                                                                            40
Piers Anthony                                                                                           34
Margaret Weis-Tracy Hickman                                                                             33
Dan Simmons                                                                                             32
Sandra Brown                                                                                            31
Gabriel García Márquez                                                                                  31
J.R.R. Tolkien                                                                                          31
Michael Crichton                                                                                        30
Mercedes Lackey                                                                                         30
Alan Dean Foster                                                                                        29
Anne Rice                                                                                               29
Janet Evanovich                                                                                         28
Dick Francis                                                                                            28
Kurt Vonnegut                                                                                           27
Terry Pratchett                                                                                         26
Laurell K. Hamilton                                                                                     26
Robert A. Heinlein                                                                                      25
Bill Bryson                                                                                             25
James Patterson                                                                                         25
Roald Dahl                                                                                              23
Gordon Korman                                                                                           23
Jodi Picoult                                                                                            22
Dean Koontz                                                                                             22
Diana Wynne Jones                                                                                       22
Roald Dahl-Quentin Blake                                                                                22
                                                                                                        ..
Walter Benjamin-Michael W. Jennings-Rodney Livingstone-Edmund F.N. Jephcott-Harry Zohn-Howard Eiland     1
Mark Cahill                                                                                              1
Ronna C. Johnson-Ann Charters-Nancy McCampbell Grace                                                     1
Alexandra Robbins-Abby Wilner                                                                            1
Michael Jan Friedman                                                                                     1
Aristophanes-F.W. Hall-W.M. Geldart                                                                      1
Bob Spitz                                                                                                1
Laurie R. King                                                                                           1
Amy Cotler-Frances Hodgson Burnett-Prudence See                                                          1
Sam Shepard-Richard Gilman                                                                               1
Emmanuel Le Roy Ladurie-Claire den Boer-Roland Fagel                                                     1
Monica Kulling-Victor Hugo                                                                               1
Penelope Farmer-Eleanor Cameron                                                                          1
Laurell K. Hamilton-Stacie Ritchie-Jessica Ruffner-Brett Booth                                           1
Allan Zola Kronzek                                                                                       1
Nancy Milford                                                                                            1
Heather Jarman                                                                                           1
Claire Brennan                                                                                           1
Edward Copeland-Juliet McMaster                                                                          1
Walker Percy                                                                                             1
Hermann Hesse-Joachim Neugroschel-Ralph Freedman                                                         1
Christopher Buckley                                                                                      1
Hesiod-Homer-Hugh G. Evelyn-White                                                                        1
Gregory Maguire-Claudia Conde                                                                            1
Barry Hughart                                                                                            1
Chiho Saitō-Lillian Olsen-Be-Papas                                                                       1
Stendhal-Roger Pearson-Margaret Mauldon                                                                  1
Jon Stewart-Scott C. Jacobson                                                                            1
Kira Salak                                                                                               1
Émile Zola-Ernest Alfred Vizetelly-Henry Vizetelly                                                       1
Name: authors, Length: 7605, dtype: int64

# Q8. Show the results of the previous question as a dataframe.

In [85]:
pd.DataFrame(t)

                                                    authors
Agatha Christie                                          69
Stephen King                                             66
Orson Scott Card                                         48
Rumiko Takahashi                                         46
P.G. Wodehouse                                           42
Terry Brooks                                             40
Piers Anthony                                            34
Margaret Weis-Tracy Hickman                              33
Dan Simmons                                              32
Sandra Brown                                             31
Gabriel García Márquez                                   31
J.R.R. Tolkien                                           31
Michael Crichton                                         30
Mercedes Lackey                                          30
Alan Dean Foster                                         29
Anne Rice                                                29
Janet Evanovich                                          28
Dick Francis                                             28
Kurt Vonnegut                                            27
Terry Pratchett                                          26
Laurell K. Hamilton                                      26
Robert A. Heinlein                                       25
Bill Bryson                                              25
James Patterson                                          25
Roald Dahl                                               23
Gordon Korman                                            23
Jodi Picoult                                             22
Dean Koontz                                              22
Diana Wynne Jones                                        22
Roald Dahl-Quentin Blake                                 22
...                                                     ...
Walter Benjamin-Michael W. Jennings-Rodney Livi...        1
Mark Cahill                                               1
Ronna C. Johnson-Ann Charters-Nancy McCampbell ...        1
Alexandra Robbins-Abby Wilner                             1
Michael Jan Friedman                                      1
Aristophanes-F.W. Hall-W.M. Geldart                       1
Bob Spitz                                                 1
Laurie R. King                                            1
Amy Cotler-Frances Hodgson Burnett-Prudence See           1
Sam Shepard-Richard Gilman                                1
Emmanuel Le Roy Ladurie-Claire den Boer-Roland ...        1
Monica Kulling-Victor Hugo                                1
Penelope Farmer-Eleanor Cameron                           1
Laurell K. Hamilton-Stacie Ritchie-Jessica Ruff...        1
Allan Zola Kronzek                                        1
Nancy Milford                                             1
Heather Jarman                                            1
Claire Brennan                                            1
Edward Copeland-Juliet McMaster                           1
Walker Percy                                              1
Hermann Hesse-Joachim Neugroschel-Ralph Freedman          1
Christopher Buckley                                       1
Hesiod-Homer-Hugh G. Evelyn-White                         1
Gregory Maguire-Claudia Conde                             1
Barry Hughart                                             1
Chiho Saitō-Lillian Olsen-Be-Papas                        1
Stendhal-Roger Pearson-Margaret Mauldon                   1
Jon Stewart-Scott C. Jacobson                             1
Kira Salak                                                1
Émile Zola-Ernest Alfred Vizetelly-Henry Vizetelly        1

[7605 rows x 1 columns]

# Q9. Groupby the data based on average ratings using bin edges

In [86]:
newdata.describe()

             bookID  average_rating  ratings_count
count  13719.000000    13719.000000   1.371900e+04
mean   22160.579270        3.930572   1.775903e+04
std    13699.603351        0.358256   1.129371e+05
min        1.000000        0.000000   0.000000e+00
25%    10621.000000        3.770000   8.300000e+01
50%    21322.000000        3.960000   6.300000e+02
75%    33322.000000        4.130000   4.737000e+03
max    47709.000000        5.300000   5.629932e+06

In [89]:
bin_edges=[0.00,3.77,3.96,4.13,5.30]
bin_names=["low","average","good","best"]
newdata["avg_ratings"]=pd.cut(newdata["average_rating"],bin_edges,labels=bin_names)
newdata.head()

,bookID,title,authors,language_code,average_rating,ratings_count,avg_ratings
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling-Mary GrandPré,eng,4.56,1944099,best
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling-Mary GrandPré,eng,4.49,1996446,best
2,3,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling-Mary GrandPré,eng,4.47,5629932,best
3,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,eng,4.41,6267,best
4,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling-Mary GrandPré,eng,4.55,2149872,best

In [95]:
newdata2=newdata.groupby("avg_ratings")
newdata2.first()

,bookID,title,authors,language_code,average_rating,ratings_count
avg_ratings,,,,,,
low,9,"Unauthorized Harry Potter Book Seven News: ""Ha...",W. Frederick Zimmerman,en-US,3.69,18
average,23,Bryson's Dictionary of Troublesome Words: A Wr...,Bill Bryson,eng,3.88,2020
good,24,In a Sunburned Country,Bill Bryson,eng,4.07,68213
best,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling-Mary GrandPré,eng,4.56,1944099

# SECTION C

# Q10. Load the datasets red wine and white wine datasets. 
# I.	Explain the functionality of np.repeat 
# II.	Append two datasets into a new data frame
# III.	Find the mean of quality of the new dataframe without using describe()
# IV.	Add 10 points to each quality score.
# V.	Convert the new dataframe to .csv file
# VI.	Do sweeter wines receive higher ratings?
# VII.	Explain the concept of pd.cut with an example.

In [109]:
red=pd.read_csv("C:\\Users\\Asus\\Desktop\\winequality\\winequality-red.csv",sep=";")
white=pd.read_csv("C:\\Users\\Asus\\Desktop\\winequality\\winequality-white.csv",sep=";")

# I.	Explain the functionality of np.repeat 

np.repeat is a function that belongs in numpy library, it is applied so as to fill in the same value in the user defined segment of dataframe

# II. Append two datasets into a new data frame

In [114]:
wine_all=red.append(white)
wine_all.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

# III. Find the mean of quality of the new dataframe without using describe()

In [113]:
wine_all["quality"].mean()

5.818377712790519

# IV.Add 10 points to each quality score.

In [ ]:
for i in wine_all["quality"]:
    i+10
    print(i)

In [125]:
wine_all["new_quality"]=wine_all["quality"]+10

In [127]:
wine_all.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,new_quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,15
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,15
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,15
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,16
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,15

# V. Convert the new dataframe to .csv file

In [128]:
wine_all.to_csv("wine_all.csv",index=False)

# VI. Do sweeter wines receive higher ratings?

In [134]:
wine_all.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,new_quality
count,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000
mean,7.215307,0.339666,0.318633,5.443235,0.056034,30.525319,115.744574,0.994697,3.218501,0.531268,10.491801,5.818378,15.818378
std,1.296434,0.164636,0.145318,4.757804,0.035034,17.749400,56.521855,0.002999,0.160787,0.148806,1.192712,0.873255,0.873255
min,3.800000,0.080000,0.000000,0.600000,0.009000,1.000000,6.000000,0.987110,2.720000,0.220000,8.000000,3.000000,13.000000
25%,6.400000,0.230000,0.250000,1.800000,0.038000,17.000000,77.000000,0.992340,3.110000,0.430000,9.500000,5.000000,15.000000
50%,7.000000,0.290000,0.310000,3.000000,0.047000,29.000000,118.000000,0.994890,3.210000,0.510000,10.300000,6.000000,16.000000
75%,7.700000,0.400000,0.390000,8.100000,0.065000,41.000000,156.000000,0.996990,3.320000,0.600000,11.300000,6.000000,16.000000
max,15.900000,1.580000,1.660000,65.800000,0.611000,289.000000,440.000000,1.038980,4.010000,2.000000,14.900000,9.000000,19.000000

In [139]:
bin_edges=[0.60,1.80,3.00,8.11,65.80]
bin_names=["low","average","good","best"]
wine_all["ratings"]=pd.cut(wine_all['residual sugar'],bin_edges,labels=bin_names)
wine_all.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,new_quality,ratings
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,15,average
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,15,average
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,15,average
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,16,average
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,15,average

In [141]:
wine_all_new=wine_all.groupby("ratings")
wine_all_new.first()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,new_quality
ratings,,,,,,,,,,,,,
low,7.4,0.660,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5,15
average,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,15
good,7.5,0.500,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,5,15
best,6.9,0.605,0.12,10.7,0.073,40.0,83.0,0.9993,3.45,0.52,9.4,6,16

## yes high sugar has high ratings

# VII. Explain the concept of pd.cut with an example.

In [142]:
#pd.cut function is used to create sections of data based upon the quaters or any user defined sections of coloum data.

#for cut function bin edges and bin names are defined first

#example: 

bin_edges=[0.60,1.80,3.00,8.11,65.80]
bin_names=["low","average","good","best"]
wine_all["ratings"]=pd.cut(wine_all['residual sugar'],bin_edges,labels=bin_names)
wine_all.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,new_quality,ratings
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,15,average
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,15,average
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,15,average
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,16,average
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,15,average